<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Марсианские хроники</string>
		<key>description</key>
		<string>«Марсианские хроники» (англ. The Martian Chronicles) — научно-фантастический роман Рэя Брэдбери, принёсший автору широкую известность.
Фактически содержание книги представляет собой нечто среднее между собранием коротких историй и эпизодических новелл, включая ранее опубликованные в литературных журналах во второй половине 40-х годов рассказы.</string>
		<key>image</key>
		<string>MH</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Хроники Нарнии</string>
		<key>description</key>
		<string>Хроники Нарнии - это  цикл из семи фэнтезийных книг (сказок), написанных  Клайвом —Стэйплзом Льюисом. Каждая из них рассказывает о приключениях детей в волшебной стране под названием Нарния, где животные могут разговаривать, магия никого не удивляет, а добро борется со злом. Хроники Нарниии содержат много намёков на христианские идеи в доступном для юных читателей виде. </string>
		<key>image</key>
		<string>HN</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Цветы для Элджерона</string>
		<key>description</key>
		<string>Цветы для Элджерона (англ. Flowers for Algernon) - научно-фантастический рассказ Дэниела Киза . Премия «Хьюго» за лучший короткий научно-фантастический рассказ (1960). ¬ дальнейшем  из дописал рассказ до полноценного романа (под тем же названием), получившего премию «Ньюбелла» как лучший роман в 1966 году.</string>
		<key>image</key>
		<string>FFE</string>
	</dict>
</array>
</plist>
